/* Generella Färger */
.ipod-body {
    -fx-background-color: #D3D3D3; /* Ljusgrå kropp */
}

/* --- SKÄRMEN --- */
.ipod-screen {
    -fx-background-color: white;
    -fx-border-color: #999;
    -fx-border-width: 2;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-pref-width: 260px;  /* Fast bredd */
    -fx-pref-height: 180px; /* Fast höjd */
    -fx-max-height: 180px;
    -fx-font-family: "Lucida Console", Monaco, monospace;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.screen-title {
    -fx-text-fill: #333333;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-padding: 0 0 5px 0; /* Marginal under titeln */
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 1 0;
}

.menu-item {
    -fx-text-fill: #333333; /* Svart text */
    -fx-font-size: 11pt;
    -fx-padding: 2px 5px 2px 5px;
}

/* Den inverterade, markerade raden */
.selected-item {
    -fx-background-color: #333333; /* Svart bakgrund */
    -fx-text-fill: #ffffff; /* Vit text */
}



/* Den yttre ringen */
.outer-wheel {
    /* Samma bakgrund som iTunes-knapparna */
    -fx-fill: linear-gradient(#eee, #ccc);

    /* Samma ram (stroke) som iTunes-knapparna */
    -fx-stroke: #888;
    -fx-stroke-width: 1;

    /* Ger en mjukare look */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.center-button {
    /* Gör även mittknappen matchande men kanske lite mörkare */
    -fx-fill: linear-gradient(#ddd, #bbb);
    -fx-stroke: #777;
}

/* Text på hjulet (MENU, >>, <<, >) */
.wheel-text {
    -fx-fill: #333333;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}
.wheel-text-menu {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-translate-y: -70px;
}
.wheel-text {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}
.wheel-text-play {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-translate-y: 70px;
}

#ff-button { /* >> */

    -fx-translate-x: 70px;
}

#rew-button { /* << */

    -fx-translate-x: -70px;
}

